[submodule "lib/ShaOne"]
	path = lib/ShaOne
	url = https://github.com/think-biq/ShaOne
[submodule "lib/libbaseencode"]
	path = lib/libbaseencode
	url = https://github.com/think-biq/libbaseencode
[submodule "lib/testly"]
	path = lib/testly
	url = https://github.com/think-biq/testly
